/* General */

body {
    background : linear-gradient(45deg, #f8f8ff , #e0ffff 33%, #add8e6 67%, #87ceeb 100%);
    font-family : "Delius", cursive;
}

/* Header */

.header {
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.search {
    display : flex;
    align-items : center;
    width : 400px;
}

.searchBar {
    width : 100%;
    padding : 5px;
    margin-right : 10px;
    border-radius : 5px;
    box-shadow: 15px 15px 30px #bebebe,-15px -15px 30px #ffffff;
}

.icons {
    display : flex;
    justify-content : space-between;
    width : 400px;
}

.icon {
    width : 30px;
    display: flex;
    align-items: center;
}

.welcome {
    display : flex;
    flex-direction : column;
    align-items : center;
    border : 1px solid black;
    border-radius : 5px;
    margin-right: 35px;  
    box-shadow: 15px 15px 30px #bebebe,-15px -15px 30px #ffffff; 
}

.userName {
    display : flex;
    align-items : center;
}

.userNameText {
    margin : 0px;
}

/* Buttons */

.button {  
    background-color : #007bff; 
    color : white; 
    border : none; 
    border-radius : 4px; 
    cursor : pointer; 
    font-weight : bold;
    border : none;} 
    
.button:hover { 
    background-color : #0056b3; 
    transform : translateY(-7px);
}

.button:active {
    transform : translateY(-1px);
}

.buttonsIcon {  
    background-color : #007bff;
    border : none;
    border-radius : 4px; 
    cursor : pointer;
    box-shadow: 15px 15px 30px #bebebe,-15px -15px 30px #ffffff;
}

.buttonsIcon:hover { 
    background-color : #0056b3;
    transform : scale(1.1);
    box-shadow: 15px 15px 30px #bebebe,-15px -15px 30px #ffffff;
}

.buttonsMessage {
    border : none;
    cursor : pointer;
}

.buttonsMessage:hover {
    transform : scale(1.1);
}

.menuButton { 
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    padding : 5px 10px;
    border : unset;
    border-radius : 15px;
    color : #212121;
    z-index : 1;
    background : #ffffff;
    position : relative;
    font-weight : 100;
    font-size : 17px;
    transition : all 250ms;
    overflow : hidden;
}

.menuButton::before {
    content : "";
    position : absolute;
    top : 0;
    left : 0;
    height : 100%;
    width : 0;
    border-radius : 15px;
    background-color : #0056b3;
    z-index : -1;
    transition : all 250ms
    }
    
.menuButton:hover {
    color : #e8e8e8;
}

.menuButton:hover::before {
    width : 100%;
}

.iconMenuButton:hover {
    color : #0056b3;
}

/* Main */
.main {
    display : flex;
} 

/* Cards */

h2 {
display : flex; 
justify-content : center; 
align-items : center;
}

/* Cards Menu */
.cardMenu {
    margin-top : 30px;
    border : 1px solid black;
    padding : 10px;
    width : 120px;
    height : 600px;
    position : absolute;
    left : 0px;
    border-radius : 5px;
    box-shadow: 15px 15px 30px #bebebe,-15px -15px 30px #ffffff;
}

/* Cards Message */

.cardMessage {
    margin-top : 30px;
    border : 1px solid black;
    padding : 10px;
    width : 350px;
    height : 600px;
    position : absolute;
    left : 180px;
    border-radius : 5px;
    box-shadow: 15px 15px 30px #bebebe,-15px -15px 30px #ffffff;
}

.cardMessageContent {
    border : 1px solid white;
    padding : 10px;
    width : 300px;
    height : 100px;
    position : absolute;
    left : 25px;
    border-radius : 5px;
    box-shadow : 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter : blur(6px);
    cursor : pointer;
    transition : all 0.5s;
}

.cardMessageContent:hover {
    border : 1px solid black;
    transform : scale(1.05);
}

.cardMessageContent:active {
    transform : scale(0.95) rotateZ(1.7deg);
}

.cardMessageContent2 {
    margin-top: 150px;
    border : 1px solid white;
    padding : 10px;
    width : 300px;
    height : 100px;
    position : absolute;
    left : 25px;
    border-radius : 5px;
    box-shadow : 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter : blur(6px);
    cursor : pointer;
    transition : all 0.5s;
}

.cardMessageContent2:hover {
    border: 1px solid black;
    transform : scale(1.05);
}

.cardMessageContent2:active {
    transform : scale(0.95) rotateZ(1.7deg);
}

.cardMessageContent3 {
    margin-top: 300px;
    border : 1px solid white;
    padding : 10px;
    width : 300px;
    height : 100px;
    position : absolute;
    left : 25px;
    border-radius : 5px;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter : blur(6px);
    cursor : pointer;
    transition : all 0.5s;
}

.cardMessageContent3:hover {
    border: 1px solid black;
    transform : scale(1.05);
}

.cardMessageContent3:active {
    transform : scale(0.95) rotateZ(1.7deg);
}

.userContent {
    display : flex;
    align-items : center;
}

.userName {
    margin-left : 10px;
}

.statut {
    margin-left : 190px;
}

.cardMessageIcons {
    display : flex;
    justify-content : space-around;
    margin-top : 500px;
}

/* Cards Tasks */

.cardTasks {
    margin-top : 30px;
    border : 1px solid black;
    padding : 10px;
    width : 400px;
    height : 200px;
    position : absolute;
    left: 600px; 
    border-radius : 5px;
    box-shadow: 15px 15px 30px #bebebe,-15px -15px 30px #ffffff;
}

/* Cards Idea */

.cardIdea {
    margin-top : 30px;
    border : 1px solid black;
    padding : 10px;
    width : 400px;
    height : 200px;
    position : absolute;
    left : 1070px;  
    border-radius : 5px;
    box-shadow: 15px 15px 30px #bebebe,-15px -15px 30px #ffffff;  
}

/* Cards Calendar */

.cardCalendar {
    margin-top : 300px;
    border : 1px solid black;
    padding : 10px;
    width : 870px;
    height : 330px;
    position : absolute;
    left : 600px;
    border-radius : 5px;
    box-shadow: 15px 15px 30px #bebebe,-15px -15px 30px #ffffff;
}

/* Img calendar
.calendar {
    width : 100%;
    height : 100%;
    border-radius : 5px;
    box-shadow: 15px 15px 30px #bebebe,-15px -15px 30px #ffffff;
}  */


.cardCalendar {
    display : flex;
    flex-direction : column;
    align-items : center;
    background : linear-gradient(45deg, #f8f8ff , #e0ffff 33%, #add8e6 67%, #87ceeb 100%);
}

h1 {
    font-weight : 800;
    margin : 5px;
}

.ulCalendar {
    display : grid;
    grid-template-columns : repeat(7, 1fr);
    list-style : none;
}

.liCalendar {
    display : flex;
    width : 70px;
    height : 50px;
    margin : 5px;
    margin-left: 10px;
    margin-right: 30px;
    flex-flow : column;
    border-radius : 5px;
    padding : 1px;
    font-weight : bold;
    font-size : 14px;
    background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.liCalendar:hover {
    transform : scale(1.05);
}

.liCalendar:active {
    transform : scale(0.95) rotateZ(1.7deg);
}

time {
    font-size: 2rem;
	margin: 0 0 1px 0;
	font-weight: 500;
}

.today {
    time {
        font-weight: 800;
	}
	background: #ffffff70;
}



/* Text */

.menu {
    display : flex; 
    flex-direction : column; 
    align-items : center; 
    margin-right: 20px;
    margin-top: 20px;
}

.separator { 
    margin-top : 40px;
}

.settingsMenu {
    display : flex; 
    flex-direction : column; 
    align-items : center; 
    margin-right: 20px;
    margin-top: 80px;
} 

#tasksList { 
    line-height: 22px;
}

