/* General */

body {
    background : linear-gradient(45deg, #f8f8ff , #e0ffff 33%, #add8e6 67%, #87ceeb 100%);
    font-family : "Delius", cursive;
}

/* Header */

.header {
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.search {
    display : flex;
    align-items : center;
    width : 400px;
}

.searchBar {
    width : 100%;
    padding : 5px;
    margin-right : 10px;
    border-radius : 5px;
}

.icons {
    display : flex;
    justify-content : space-between;
    width : 400px;
}

.icon {
    width : 30px;
}

.welcome {
    display : flex;
    flex-direction : column;
    align-items : center;
    border : 1px solid black;
    border-radius : 5px;
    margin-right: 35px;   
}

.userName {
    display : flex;
    align-items : center;
}

.userNameText {
    margin : 0px;
}

/* Buttons */

.button {  
    background-color : #007bff; 
    color : white; 
    border : none; 
    border-radius : 4px; 
    cursor : pointer; 
    font-weight : bold;
    border : none;} 
    
.button:hover { 
    background-color : #0056b3; 
    transform : translateY(-7px);
}

.button:active {
    transform : translateY(-1px);
}

.buttonsIcon {  
    background-color : #007bff;
    border : none;
    border-radius : 4px; 
    cursor : pointer;
}

.buttonsIcon:hover { 
    background-color : #0056b3;
    transform : scale(1.1);
}

.menuButton { 
    padding : 5px 10px;
    border : unset;
    border-radius : 15px;
    color : #212121;
    z-index : 1;
    background : #ffffff;
    position : relative;
    font-weight : 100;
    font-size : 17px;
    transition : all 250ms;
    overflow : hidden;
}

.menuButton::before {
    content : "";
    position : absolute;
    top : 0;
    left : 0;
    height : 100%;
    width : 0;
    border-radius : 15px;
    background-color :   #0056b3;
    z-index : -1;
    transition : all 250ms
    }
    
.menuButton:hover {
    color : #e8e8e8;
}

.menuButton:hover::before {
    width : 100%;
}

/* Main */
.main {
    display : flex;
} 

/* Cards */

h2 {
display : flex; 
justify-content : center; 
align-items : center;
}

/* Cards Menu */
.cardMenu {
    margin-top : 30px;
    border : 1px solid black;
    padding : 10px;
    width : 120px;
    height : 600px;
    position : absolute;
    left : 0px;
    border-radius : 5px;
}

/* Cards Message */

.cardMessage {
    margin-top : 30px;
    border : 1px solid black;
    padding : 10px;
    width : 350px;
    height : 600px;
    position : absolute;
    left : 180px;
    border-radius : 5px;
}

.cardMessageContent {
    border : 1px solid black;
    padding : 10px;
    width : 300px;
    height : 100px;
    position : absolute;
    left : 25px;
    border-radius : 5px;
}

.cardMessageContent2 {
    margin-top: 150px;
    border : 1px solid black;
    padding : 10px;
    width : 300px;
    height : 100px;
    position : absolute;
    left : 25px;
    border-radius : 5px;
}

.cardMessageContent3 {
    margin-top: 300px;
    border : 1px solid black;
    padding : 10px;
    width : 300px;
    height : 100px;
    position : absolute;
    left : 25px;
    border-radius : 5px;
}

/* Cards Tasks */

.cardTasks {
    margin-top : 30px;
    border : 1px solid black;
    padding : 10px;
    width : 400px;
    height : 200px;
    position : absolute;
    left: 600px; 
    border-radius : 5px;
}

/* Cards Idea */

.cardIdea {
    margin-top : 30px;
    border : 1px solid black;
    padding : 10px;
    width : 400px;
    height : 200px;
    position : absolute;
    left : 1070px;  
    border-radius : 5px;  
}

/* Cards Calendar */

.cardCalendar {
    margin-top : 300px;
    border : 1px solid black;
    padding : 10px;
    width : 870px;
    height : 330px;
    position : absolute;
    left : 600px;
    border-radius : 5px;
}

.calendar {
    width : 100%;
    height : 100%;
    border-radius : 5px;
}

/* Text */

.menu {
    display : flex; 
    flex-direction : column; 
    align-items : center; 
    margin-right: 20px;
    margin-top: 20px;
}

.separator { 
    margin-top : 40px;
}

.settingsMenu {
    display : flex; 
    flex-direction : column; 
    align-items : center; 
    margin-right: 20px;
    margin-top: 80px;
} 

#tasksList { 
    line-height: 22px;
}

