body {
    background : linear-gradient(45deg, #f8f8ff , #e0ffff 33%, #add8e6 67%, #87ceeb 100%);
}

/* Header */

.header {
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.search {
    display : flex;
    align-items : center;
    width : 400px;
}

.searchBar {
    width : 100%;
    padding : 5px;
    margin-right : 10px;
}

.icons {
    display : flex;
    justify-content : space-between;
    width : 400px;
}

.icon {
    width : 30px;
}

.welcome {
    display : flex;
    flex-direction : column;
    align-items : center;
    border : 1px solid black;
    
}

.userName {
    display : flex;
    align-items : center;
}

.userNameText {
    margin : 0px;
}

/* Buttons */

.button {  
    background-color : #007bff; 
    color : white; 
    border : none; 
    border-radius : 4px; 
    cursor : pointer; 
    font-weight : bold;
    border : none;} 
    
.button:hover { 
    background-color : #0056b3; 
    transform : translateY(-7px);
}

.button:active {
    transform : translateY(-1px);
}

.buttonsIcon {  
    background-color : #007bff;
    border : none;
    border-radius : 4px; 
    cursor : pointer;
}

.buttonsIcon:hover { 
    background-color : #0056b3;
    transform : scale(1.1);
}

/* Main */
.main {
    display : flex;
} 

/* Cards */

.cardMenu {
    margin-top : 30px;
    border : 1px solid black;
    padding : 10px;
    width : 120px;
    height : 600px;
    position : absolute;
    left : 0px;
}


.cardMessage {
    margin-top : 30px;
    border : 1px solid black;
    padding : 10px;
    width : 350px;
    height : 600px;
    position : absolute;
    left : 180px;
}

.cardTasks {
    margin-top : 30px;
    border : 1px solid black;
    padding : 10px;
    width : 400px;
    height : 200px;
    position : absolute;
    left: 600px; 
}

.cardIdea {
    margin-top : 30px;
    border : 1px solid black;
    padding : 10px;
    width : 400px;
    height : 200px;
    position : absolute;
    left : 1070px;    
}

.cardCalendar {
    margin-top : 300px;
    border : 1px solid black;
    padding : 10px;
    width : 870px;
    height : 330px;
    position : absolute;
    left : 600px;
}

.calendar {
    width : 100%;
    height : 100%;
}