/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    width: 400px;
}

.searchBar {
    width: 100%;
    padding: 5px;
    margin-right: 10px;
}

.icons {
    display: flex;
    justify-content: space-between;
    width : 400px;
}

.icon {
    width: 30px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    border : 1px solid black;
    
}

.userName {
    display: flex;
    align-items: center;
}

.userNameText {
    margin: 0px;
}

/* Main */

/* Cards */

.main {
    display: flex;
} 

.cardMessage {
    margin-top: 30px;
    border: 1px solid black;
    padding: 10px;
    width: 350px;
    height: 600px;
    position :absolute;
    left : 50px;
}

.cardTasks {
    margin-top: 30px;
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 470px; 
}

.cardIdea {
    margin-top: 30px;
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 940px;    
}

.cardCalendar {
    margin-top: 400px;
    border: 1px solid black;
    padding: 10px;
    width: 500px;
}